*{
    margin: 0px;
    padding: 0px;
}

.body{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px auto auto auto 200px;
    grid-template-areas: "header navbar "
                         "banner banner"
                         "qs     qs"
                         "museo  museo"
                         "footer footer";
} 

.header{
    grid-area: header;
    display: flex;
    justify-content:  center;
    align-items: center;
    animation-name: aparecer;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
    
.navbar{
    grid-area: navbar;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 10px;
    animation-name: aparecer;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    gap: 20px;

}

nav ul li{
    display: inline-block;
    
}

.btn{
    width: 100px;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5;
}

.banner{
    grid-area: banner;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}

.qs{
    grid-area: qs;
    display: flex;

}

section h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h4{
    padding: 20px;
    text-align: justify;
}

section a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgqs{
    display: flex;
    align-items: center;
}
.museo{
    grid-area: museo;
}

.imgmuseo{
    padding: 10px;
    border-radius: 10px;
}

.footer{
    width: 100%;
    grid-area: footer;
    display: flex;
    gap: 20px
    
}

.body__autos{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px auto auto auto;
    grid-template-areas: "header navbar "
                         "titulo titulo"
                         "main   main"
                         "footer footer";
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.tarjeta{
    display: flex;
    width: 400px;
    padding: 15px;
}

.tarjeta__info{
    padding: 15px;
    text-align: justify;

}

.tarjeta img{
    padding: 15px;
}

@media (min-width:768px){
    .body{
        grid-template-areas: "header navbar "
                             "banner banner"
                             "qs     museo"
                             "footer footer";
    }                             

    .main{
        grid-area: main;
        display: flex;
        flex-direction: row;
    }
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.img{
    transition: 3s;
}
.img:hover{
    transform: scale(1.3);
    transition: 3s;
}


